header {
  color: red;
}

body {
  background-color: #282828;
}

.card-img-top img {
  object-fit: cover;
  width: inherit;
}

.card {
  color: white;
  background-color: black;
  border: 3px solid black;
}